#title
{
    color: rgb(255, 138, 138);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    position: relative;
    display: flex;
    justify-content: left;
    top: 115px;
    left: 8px

}

hr
{   
    position: relative;
    display: flex;
    justify-content: left;
    top: 100px;
    width: 99%;
    background-color: gray;
}

#back
{
    position: relative;
    bottom: 70px;
    text-align:auto;
    font-size: auto;
    margin: 2px;
    padding: 1px;
    width:fit-content;
    height: 25px;

}

#back:hover
{
    background-color: rgb(35, 90, 255);
    color: white;

}

.input
{
    position: absolute;
    left: 200px;
    border: auto;
    border-color: white;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 3px;
    
}

#search
{
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: relative;
    top: 80px;
    left: 10px;
    background-color: rgb(35, 90, 255);
    color: white;
}

#search:hover
{
    background-color: rgb(35, 90, 255));
    color: rgb(0, 0, 0);
}

.label
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    position: relative;
    left: 10px;
    top: 70px;
}