#search
{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 85px;
    position: relative; top: 200px;
}

.searchbar
{

    display: flex;
    justify-content: center;
    position: relative; top: 200px; left: 47%;
    padding: 5px;
    width: 70px;
    height: 30px;
}

#back
{
    position: relative;
    bottom: 260px;
    text-align:auto;
    font-size: auto;
    margin: 2px;
    padding: 1px;
    width:fit-content;
    height: 25px;

}

#back:hover
{
    background-color: rgb(35, 90, 255);
    color: white;

}

#button,#bar
{
    border: 100px ;
    border-color: white;
    border-radius: 10px;
    margin: 3px;
}

#buttom:hover
{
    background-color: rgb(35, 90, 255);
    color: white;
}
