@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.follow
{
  margin: 0px;
  margin-bottom: 10px;
  vertical-align: top;
}

#ff
{
  margin-top: 25px;
}

.inline
{
  display: inline-block;
  vertical-align: top;
}

.div-img
{
  margin-top: 3px;
  vertical-align: top;
  width: 80px;
  height: 100px;
  overflow: hidden;
}

.img1
{
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: left;
  border-radius: 80px;
}

.div-info
{
  margin: 0px;
  margin-left: 10px;
  width: 300px;
  vertical-align: top;
}

.div-add
{
  margin: 0;
}

.div-add2
{
  position:relative;
  top: 23px;
  left: -120px;
}

.name, .name2, .popular
{
  margin: 0px;
}

p
{
  font-family: Roboto, arial;
}

.name
{
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 20px;
}

.name2
{
  font-size: 20px;
  font-weight: 400;
  color: rgb(94, 94, 94);
}

.popular
{
  color: rgb(94, 94, 94);
  font-weight: 400;
  margin-top: 8px;
}

.follow-button
{
  background-color: rgb(71, 137, 250);
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 3px;
}