@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

p
{
  text-align: center;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
.model
{

  font-weight: 700 ;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.descrip
{
  font-size: 22px;
}

#delivery
{
  text-decoration: underline;
}