#img1
{
  width: 200px;
  border-radius: 10px;
}

#img2
{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.img3
{
  width: 200px;
  height: 200px;
  border-radius: 600px;
  object-fit: cover;
  object-position: fill;
}
p
{
  font-family: arial;
  margin: 0;
}

.mail
{
  color: rgb(92, 92, 92);
  margin-bottom: 5px;
  font-size: 12px;

}

.text_box
{
  width: 240px;
  margin-bottom: 8px;
}

.terms
{
  margin-bottom: 10px;
  font-size: 9px;
  color: rgb(92, 92, 92);
}

.bt 
{
  border: none;
  border-radius: 15px;
  background-color: rgb(35, 106, 247);
  padding: 10px;
  padding-left: 86px;
  padding-right: 86px;
  color: white;
}


#img4
{
  width: 50px;
  height: 50px;
  border-radius: 600px;
  object-fit: cover;
  object-position: fill;
  vertical-align: center;
}

.textbox 
{
  margin-left: 10px;
  vertical-align: center;
  position: relative;
  bottom: 20px;
  border: none;
  width: 150px ;
}

#button
{
  margin-left: 5px;
  vertical-align: center;
  position: relative;
  bottom: 20px;
  border: none;
  /* width: 150px ; */
  background-color: rgb(27, 134, 255);
  color: white;
  font-family: arial;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}