body
{
  margin-top: 100px;
}


.div-grid
{
  display:grid;
  grid-template-columns: 130px 130px 130px 130px;
  row-gap: 10px;
  column-gap: 20px;
}

.c1
{
  background-color: lightblue;
  height: 30px;
  text-align: center;

}

.c2
{
  background-color: pink;
  text-align: center;
}