body
{
  background: rgb(86,250,246);
  background: linear-gradient(90deg, rgba(86,250,246,1) 0%, rgba(54,132,248,1) 22%, rgba(76,41,255,1) 45%, rgba(31,0,186,1) 70%, rgba(44,0,109,1) 100%);
}


body
{
  text-align: center;
  padding-top: 300px;
}
label
{
  vertical-align: top;
  font-size: 100px;
}

#cityInput
{
  vertical-align: top;
  width: 400px;
  height: 100px;
}

button
{
  margin-top: 100px;
  width: 500px;
  height: 100px;
  font-size: 80px;
}