<%- include('partials/header') %>

<h1>Compose</h1>

<form action="/" method="post">

  <!-- <div class="mb-3"> -->
    <label class="form-label">Title</label>
    <input name="postTitle" type="text" class="form-control" id="" aria-describedby="emailHelp">
  <!-- </div> -->

  <!-- <div class="mb-3"> -->
    <label class="form-label">Post</label>
    <textarea name="postBody" class = "form-control" rows="10" ></textarea>
  <!-- </div> -->
  <button type="submit" class="btn btn-primary text-white btn-submit" >Submit</button>

</form>

<%- include('partials/footer') %>








