.pfp {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	object-fit: cover;
	object-position: left;
	margin: 10px 0px 0px 0px;
}

body {
	background-color: #d3e0ea;
	/* text-align: center; */
}

hr {
	border-style: dotted none none;
	width: 10%;
	border-width: 6px;
	border-color: grey;
}

h1,
h3 {
	color: #1687a7;
}



