<%- include('header') %> 

  <div class="title">

    <h1 id = "title-text">Weather</h1>

  </div>

  <div class="container">


  <form action="/" method="post">
    <div class="mb-3">
      <label for="cityInput" class="form-label input-label text-white fs-4">City</label>
      <input name="cityName" type="text" class="form-control" id="cityInput" placeholder="Enter City Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>


<%- include('footer') %> 













